@media only screen and (max-width: 991px) {
    .display-none-991 {
        display: none !important;
    }

    .hero-img {
        margin-top: 90px;
        width: 35% !important;
    }

    .set-bg {
        background-attachment: initial;
    }


    .page404 .content-box .title {
        font-size: 8rem;

    }

    .page404 .content-box .content-item h2 {
        font-size: 1.8rem;
    }


    .page404 .btn-box {
        bottom: 35px !important;
    }
}

@media only screen and (max-width: 850px) {
    #header-menu {
        height: 25vh;
        background-position: 0 -120px;
    }
}

@media only screen and (max-width: 700px) {

    #ChristmasMessage {
        width: 70% !important;
    }

    #ChristmasMessage .title-box h4 {
        font-size: 1.3rem;
    }

    .bi-x-lg {
        cursor: pointer;
        opacity: 1;
        position: absolute;
        top: -35px;
        right: 25px;
    }
}

@media only screen and (max-width: 600px) {

    .page404 .content-box .title {
        font-size: 6rem;

    }

    .page404 .content-box .content-item h2 {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 555px) {

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 11px;
    }

    #footer .footer-top {
        padding: 0 15px;
    }

    .policy-links {
        justify-content: center !important;
        align-items: center !important;
    }
}

@media only screen and (max-width: 500px) {
    #ChristmasMessage {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 12px;
    }
}


@media only screen and (max-width: 405px) {

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 10px;
    }
}