@media only screen and (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }

    .about {
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 992px) {

    .display-none-991 {
        display: none !important;
    }

    .hero-img {
        margin-top: 90px;
        width: 35% !important;
    }

    .set-bg {
        background-attachment: initial;
    }


    .page404 .content-box .title {
        font-size: 8rem;

    }

    .page404 .content-box .content-item h2 {
        font-size: 1.8rem;
    }


    .page404 .btn-box {
        bottom: 35px !important;
    }

    #hero .container {
        padding-top: 98px;
    }

    #hero .play-btn {
        margin-top: 30px;
    }

    .menu .menu-content {
        margin-left: 0;
    }

    .menu .menu-ingredients {
        margin-left: 9px;
    }
}

@media only screen and (max-width: 850px) {
    #header-menu {
        height: 25vh;
        background-position: 0 -120px;
    }

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #banner p {
        padding: 0 25px;
    }

    .title-brand {
        font-size: 1.9rem !important;
    }
}

/* Disable aos animation delay on mobile devices */
@media only screen and (max-width: 768px) {

    .mobile-nav-toggle,
    .logo-menu-mobile {
        display: block !important;
    }

    .navbar-mobile .bi-x.active {
        display: block !important;
        position: fixed;
        top: 72px;
        right: 35px;
        transition: all 0.9s;
    }

    .navbar-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100% !important;
        right: -1050px !important;
        right: 0px;
        top: 0;
        height: 100vh;
        background-color: rgba(36, 35, 33, 0.9);
        padding: 0;
        transition: all 0.6s;
    }

    .navbar-mobile .languages {
        margin-left: 80px;
    }

    .navbar-mobile .languages span:nth-child(2) {
        margin-left: -23px;
    }

    .navbar-mobile ul.active {
        right: 0 !important;
    }

    .navbar-mobile ul li {
        width: 150px;
    }

    .languages-mobile {
        display: block !important;
    }

    [data-aos-delay] {
        transition-delay: 0 !important;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 700px) {

    #ChristmasMessage .title-box h4 {
        font-size: 1.3rem;
    }

    .bi-x-lg {
        cursor: pointer;
        opacity: 1;
        position: absolute;
        top: -35px;
        right: 25px;
    }
}

@media only screen and (max-width: 600px) {

    .page404 .content-box .title {
        font-size: 6rem;

    }

    .page404 .content-box .content-item h2 {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 555px) {

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 0.8rem;
    }

    #footer .footer-top {
        padding: 0 15px;
    }

    .policy-links {
        justify-content: center !important;
        align-items: center !important;
    }
}

@media only screen and (max-width: 500px) {
    #ChristmasMessage {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 12px;
    }

    #hero {
        height: auto;
    }

    #hero .container {
        padding-top: 130px;
        padding-bottom: 60px;
    }

    .menu .menu-content::after {
        content: "";
    }

    .menu .menu-content,
    .menu .menu-ingredients {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .menu h2::after {
        content: none;
        display: none;
    }

    #menu h2 {
        text-align: center;
        margin-top: 65px;
        margin-bottom: -15px;
        font-size: 1.8rem;
        padding-left: 0;
    }

    #banner p {
        padding: 0 5px;
        font-size: 1.2rem;
    }

    .section-title p {
        font-size: 1.4rem;
    }

    #topbar .container {
        justify-content: flex-start !important;
        position: relative;
    }

    .contact-info {
        flex-direction: column;
        margin-top: 22px;

    }

    .contact-info .bi {
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    .contact-info .bi:nth-child(1) {
        margin-left: -5px !important;
    }
    .contact-info .bi:nth-child(2) {
        margin-top: 1px !important;
    }

    .schedule {
        position: absolute;
        top: 60%;
        right: 25px;
        transform: translateY(-50%);
    }

    #topbar .contact-info i span,
    #topbar .schedule {
        font-size: 0.8rem;
    }

    #header {
        top: 60px;
    }

    .navbar-mobile .bi-x.active {
        top: 90px;

}

@media only screen and (max-width: 405px) {

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alert-box p {
        font-size: 0.8rem;
    }

    .button-container button {
        margin-bottom: 5px;
        width: 75%;
    }

}

@media only screen and (max-width: 388px) {

    #hero .btn-menu,
    #hero .btn-book {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 0 auto 10px;
        padding: 12px 30px;

    }
}